$colorNo1 : rgb(91,91,255);
$colorNo2 : white;
$colorNo3 : rgb(1,1,170);
$colorNo4 : rgb(240, 240, 240);
$colorNo5 : lightgray;
$colorNo6 : rgb(68,68,255);
$colorNo7 : rgba(46,45,238,0.8);
$colorNo8 : rgba(46,45,238,1);
$colorNo9 : blue;
$colorNo10: black;
$colorNo11: rgb(233,233,233);
$colorNo12: rgb(46, 46, 247);

$w100 : 100%;
$w90 : 90%;