@media screen and (max-width: 900px){
    .div-logo > img{
        display: none;
    }
    
    .div-general > .div-enter{
        height: auto;
        margin-top: 20px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .div-general > .div-enter > .div-enter1 , .div-general > .div-enter > .div-enter2{
        width: $w100;
        height: 220px;
    }
}

@media screen and (max-width: 1230px){
    .div-general > .div-footer{
        display: none;
    }    
}